<div class="card-header text-center ">
  <button type="button" class="btn btn-info"><h1> Sistema de Administración de Edificios<hr></h1></button>
</div>
<div class="d-grid gap-2 col-6 mx-auto text-center card-body">  
  <%= link_to "Edificios", buildings_path ,:class =>"btn btn-primary"%>
  <%= link_to "Departamentos", apartments_path ,:class =>"btn btn-success" %>
</div>
<h1>Departamento</h1>
<table class="table table-bordered table-hover table-striped table-sm"> 
 <thead class="table-light">
    <tr class="table-success">
      <th>Numero</th>
      <th>Edificio</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.number %></td>
        <td><%= apartment.building %></td>
        <td class="text-center"><%= link_to "Mostrar", apartment ,:class =>"btn btn-outline-success"%></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center" ><%= link_to "Nuevo Departamento", new_apartment_path,:class =>"btn btn-success text-center" %></div>
